<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/adminViewStyles.css">
  <link rel="stylesheet" href="./styles/styles.css">
  <title>ADMIN</title>
</head>
<body>
  <h1 class="title">
    Admin
  </h1>

  <% if (locals.msg) { %>
      <h3 class="failLogin" style="background-color: black;">
          <%= msg %>
      </h3>
  <% } %>

  <br>

  <table>
    <thead>
      <tr class="admin-input-row">
        <form action="/update-slots" method="GET" id="admin-slot-form">
        <th class="display">
          <button form="admin-slot-form" class="btn-save-admin" title="Submit">SUBMIT</button>
        </th>
        <th style="color: black;">Guest Name</th>

        <%
          let timeName;
          let timeValue;
          for (let i of timeSlots) {
            timeName = i.SlotName;
            timeValue = i.SlotValue;
        %>
          <th>
            <textarea style="width: 50px;" type="text" name="<%= timeName %>"><%= timeValue %></textarea>
          </th>
        <% } %>
        </form>
      </tr>
    </thead>
    <tbody>
      <%
        let status;
        for (row of rows) {
      %>
      <tr>
        <td class="display">
        </td>
        <td>
          <input class="name" placeholder="Enter Name" type="text" value="<%= row.Name %>" disabled/>
        </td>
        <%
          for (let i = 1; i <= slotCount; i++) {
            status = row[`Slot${i}`] ? "checked" : undefined;
        %>
        <td>
          <input type="checkbox" class="slot" disabled <%= status %> />
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>

  <div id="spacer"/>
  <h4 class="help-text">
    <a href="/logout" type="submit" class="btn-logout">LOGOUT</a>
  </h4>

</body>
<html>
